* {
  font-family: sans-serif;
}

h1 {
  font-stretch: condensed;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 0.5em 0 0.5em 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
}

h4 {
  font-size: 30px ;
  font-weight: lighter;
  margin-top: 0;
}

p { 
  font-size: 16px; 
  font-weight: 400;
  line-height: 22px;
}


nav{
  display: flex;
}

nav img {
  display: none;
  margin-top: 2em;
  margin-right: 1.5em;
}

lh {
  margin: 1.5em 7em 0em;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 2px;
  color: white;
  font-weight: 600px;
}

ul {
  display: flex;
  margin-bottom: 0;
}

li {
  display: flex;
  align-items: end;
  margin-right: 3em;
}

a {
  color: white;
  font-size: 14px;
  line-height: 16px ;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
}
 
a:hover{
  text-decoration: underline !important;
}

header {  
  background-image: url(../Assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
  background-size: cover;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#projects h3 {
  color: rgb(189, 178, 178);
}

section {
  width: 100%;
  text-align: center;
  height: fit-content;
  padding: 50px 0;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,auto);
}


#h3_text {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#h4_text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#paragraph_about {
  margin-top: 2em;
}

#about_par_1 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  text-align: left;
  margin-left: 10em;
  margin-right: 2.5em;
}

#about_par_2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  text-align: left;
  margin-right: 10em;
  margin-left: 2.5em;
}

#stories {
  background-image: url(../Assets/IMG_1334_72dpi_RGB_\ 1.png);
  background-size: cover;
}

#projects, #stories {
  color: white;
}

footer { 
  background-color: rgb(88, 77, 77);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr) ;
}

footer p {
  margin: 0 0 2em 0;
}

#logo img, #logo p {
  display: block;
  letter-spacing: 0.2em;
}

#logo img {
  margin-right: 1em;
  text-align: bottom;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: span 2;
  height: fit-content;
}

#logo p {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  text-align: center;
}

#copyright {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#hello {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

